[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Literm
GenericName=Literm
Comment=Terminal emulator
Exec=/usr/bin/invoker --single-instance --type=e /opt/literm/bin/literm
Terminal=false
Type=Application
Icon=/usr/share/icons/hicolor/80x80/apps/literm.png
